<section class="container-fluid logo__container">
	<div class="row">
		<div class="col-lg-3 col-sm-6 text-center" >
			<img src="../../assets/img/envato.png" alt="" class="img-fluid">
		</div>
		<div class="col-lg-3 col-sm-6 text-center" >
			<img src="../../assets/img/wordpress.png" alt="" class="img-fluid">
		</div>
		<div class="col-lg-3 col-sm-6 text-center" >
			<img src="../../assets/img/tuts.png" alt="" class="img-fluid">
		</div>
		<div class="col-lg-3 col-sm-6 text-center" >
			<img src="../../assets/img/microlancer.png" alt="" class="img-fluid">
		</div>						
	</div>	
</section>