<section class="container-fluid projects">
	<article class="text-center header--title">
		<p class="display-4 header__title--small">LATEST PROJECT</p>
		<p class="h4">Lorem ipsum dolor sit amet, consectetur.</p>
	</article>
	<article class="row projects__content">
		<div class="col-lg-5 col-md-12 ">
			<h3>DEVELOPING A FRAMEWORK</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quos a beatae ratione possimus accusantium debitis eos, neque error alias!</p>
			<app-projects-components  class="projects__content__list"></app-projects-components>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dignissimos illum vero, laborum, perspiciatis fugiat modi tenetur aperiam natus esse.</p>

			<p class="view--link"><a href="#">VIEW DETAILS <i class="fas fa-arrow-right"></i></a></p>
		</div>
<!-- 		<div class="col">
			<img src="../../assets/img/ipad.png" alt="" class="projects__ipad">
		</div> -->
	</article>
</section>

