<article class=" testimonial__container">
	<div class="row">
		<div class="col-4 testimonial__container--circle">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="300px" height="200px" viewBox="0 0 300 200" enable-background="new 0 0 300 200" xml:space="preserve">
				<g>
					<ellipse fill="#E9E9E9" cx="158.184" cy="100.165" rx="88.484" ry="86.938"/>
				</g>
			</svg>		
		</div>
		<div class="col-lg-8 col-sm-12 testimonial__container__content">
			<p>“Proin iaculus purus consequat  sem cure digni s sim donec portitora entum susciput aebeab rhioncus”</p>
			<p style="color: #7cc576">-Jamie Richardson, Founder of Cocoa Media</p>
		</div>		
	</div>
	<div class="row">
		<div class="col-lg-8 col-sm-12 testimonial__container__content">
			<p>“Proin iaculus purus consequat  sem cure digni s sim donec portitora entum susciput aebeab rhioncus”</p>
			<p style="color: #7cc576">-Jamie Richardson, Founder of Cocoa Media</p>
		</div>	
		<div class="col-4 testimonial__container--circle">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 width="300px" height="200px" viewBox="0 0 300 200" enable-background="new 0 0 300 200" xml:space="preserve">
				<g>
					<ellipse fill="#E9E9E9" cx="158.184" cy="100.165" rx="88.484" ry="86.938"/>
				</g>
			</svg>		
		</div>			
	</div>	

	
</article>