@import 'src/styles.sass'


.services
	+flexDisplay(column,center,center)
	height: 50vh
	margin: 4rem auto
	@media only screen and (max-width: 768px)
		+flexDisplay(column,space-between,center)
		height: auto

